<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script src="http://edermarques.com/gel"></script>
    <script>
        let autoRefresh;
        gel.get('/autorefresh', (res) => {
            autoRefresh = res;
        });
        setInterval(() => {
            gel.get('/autorefresh', (res) => {
                if(autoRefresh !== res) window.location.reload();
            });             
        }, 200);
        console.log(Math.floor(Math.random() * 123456789));
    </script>
</body>
</html>